In [87]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [88]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [89]:
doc = nlp("Tesla Inc is going to acquire Twitter for $45 billion")

for ent in doc.ents:
    print(ent.text , "|", ent.label_ , ":" , spacy.explain(ent.label_))

Tesla Inc | ORG : Companies, agencies, institutions, etc.
Twitter | PRODUCT : Objects, vehicles, foods, etc. (not services)
$45 billion | MONEY : Monetary values, including unit

In [90]:
from spacy import displacy
displacy.render(doc , style="ent")

In [91]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [92]:
#we are customizing tokens entities  
from spacy.tokens import Span
s1= Span(doc , 0,1, label="ORG")
s2= Span(doc , 6,7, label="ORG")



doc.set_ents([s1,s2],default="unmodified")
for ent in doc.ents:
    print(ent.text ,"|", ent.label_)

Tesla Inc | ORG
Twitter | ORG
$45 billion | MONEY

In [120]:
# Now I want to give a simple exercise with solution:
# Extract all the Geographical (cities, Countries, states) names from a given text:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

s1=Span(doc ,45,46, label="EVENT")
doc.set_ents([s1], default="unmodified")

for ent in doc.ents:
    if ent.label_ == 'GPE':
        print(ent.text , "|" , ent.label_)

India | GPE
Delhi | GPE
Gujarat | GPE
Tamilnadu | GPE
Andhrapradesh | GPE
Assam | GPE
Bihar | GPE

In [121]:
#Now its time to working on another exercise:
#Extract all the birth dates of cricketers in the given Text
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""
doc = nlp(text)
dates = []
for ent in doc.ents:
    if ent.label_ in ["DATE"]:
          dates.append(ent.text)
            
for date in dates:
    print(date)
    
print("the number of dates in the text is :" , len(dates))

24 April 1973
5 November 1988
7 July 1981
19 December 1974
the number of dates in the text is : 4